{% extends "app/plain_page.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'build/css/style.css' %}" type="text/css">
{% endblock stylesheets %}

{% block contenido %}
  <div id="chartdiv" style="width: 500px; height: 600px;"></div>
{% endblock contenido %}
{% block javascripts %}
  {{ block.super }}
  <script src="{% static 'build/js/amcharts/amcharts.js' %}" type="text/javascript"></script>
  <script src="{% static 'build/js/amcharts/serial.js' %}" type="text/javascript"></script>
  <script>
    //window.alert({{ json_info }});
    var chartData = {{ json_info|safe }};
    var chart;
    var legend;

    AmCharts.ready(function () {
        // SERIAL CHART
        chart = new AmCharts.AmSerialChart();
        chart.dataProvider = chartData;
        chart.categoryField = "edad";
        // this single line makes the chart a bar chart,
        // try to set it to false - your bars will turn to columns
        chart.rotate = true;
        // the following two lines makes chart 3D
        chart.depth3D = 20;
        chart.angle = 30;

        // AXES
        // Category
        var categoryAxis = chart.categoryAxis;
        categoryAxis.gridPosition = "start";
        categoryAxis.axisColor = "#DADADA";
        categoryAxis.fillAlpha = 1;
        categoryAxis.gridAlpha = 0;
        categoryAxis.fillColor = "#FAFAFA";

        // value
        var valueAxis = new AmCharts.ValueAxis();
        valueAxis.axisColor = "#DADADA";
        valueAxis.title = "Clientes por rango de edad";
        valueAxis.gridAlpha = 0.1;
        chart.addValueAxis(valueAxis);

        // GRAPH
        var graph = new AmCharts.AmGraph();
        graph.title = "Clientes por edad";
        graph.valueField = "value";
        graph.type = "column";
        graph.balloonText = "Edad [[category]]:[[value]]";
        graph.lineAlpha = 0;
        graph.fillColors = "#bf1c25";
        graph.fillAlphas = 1;
        chart.addGraph(graph);

        chart.creditsPosition = "top-right";

        // WRITE
        chart.write("chartdiv");
    });

  </script>
{% endblock javascripts %}
}
