tensoft/inmobiliaria_tenant/migrations
tensoft/tensoft/__pycache__
tensoft/inmobiliaria_tenant/__pycache__
tensoft/parreporter_tool/migrations
tensoft/parreporter_tool/__pycache__
tensoft/inmuebles/migrations
tensoft/inmuebles/__pycache__
tensoft/RegUsuarios/__pycache__
tensoft/RegUsuarios/migrations
tensoft/propietarios/migrations
tensoft/propietarios/__pycache__
tensoft/reportes/migrations
tensoft/reportes/__pycache__
tensoft/acciones_previas/script_insert_dep_mun.sql
tensoft/acciones_previas/procesar.py
.idea/*
media
