<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="index.html" class="site_title"><i class="fa fa-spinner"></i> <span>Gentelella Alela!</span></a>
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
    <div class="profile_pic">
      <img src="/static/images/img.jpg" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>Welcome,</span>
      <h2>John Doe</h2>
    </div>
  </div>
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>General</h3>
      <ul class="nav side-menu">
        <li><a href="/"><i class="fa fa-home"></i> Home </a>
          <!--<ul class="nav child_menu">
            <li><a href="index.html">Dashboard</a></li>
            <li><a href="index2.html">Dashboard2</a></li>
            <li><a href="index3.html">Dashboard3</a></li>
          </ul> -->
        </li>
        {% if request.user.is_authenticated and not request.user.is_superuser %}
        <li><a><i class="fa fa-user"></i> Mi cuenta <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/cuenta/my/"> Ver</a></li>
            <li><a href="/cuenta/actualizar/"> Actualizar</a></li>
            <li><a href="/cuenta/eliminar/"> Eliminar</a></li>
          </ul>
        </li>
        {% endif %}
        {% if request.user.groups.all.0.name == "superadministrador" %}
        <li><a><i class="fa fa-building-o"></i> Gestión inmobiliarias <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/inmobiliarias/"> Información general</a></li>
            <li><a href="/inmobiliarias/listado/"> Lista de inmobiliarias</a></li>
            <li><a href="/inmobiliarias/pendientes-alta/"> En espera de aprobación</a></li>
            <li><a href="/inmobiliarias/pendientes-baja"> Solicitudes de baja</a></li>
            <li><a href="/inmobiliarias/activas/"> Activas</a></li>
            <li><a href="/inmobiliarias/inactivas"> Inactivas</a></li>
            <li><a href="/inmobiliarias/rechazadas/"> Rechazadas</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-bar-chart"></i> Reportes <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/reportes/sexo-clientes/"> Clientes por sexo</a></li>
            <li><a href="/reportes/edad-clientes/"> Clientes por rango de edad</a></li>
          </ul>
        </li>
        {% elif request.user.groups.all.0.name == "cliente-inmobiliaria" %}
        <li><a><i class="fa fa-building-o"></i> Gestión inmobiliarias <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/inmobiliarias/"> Información general</a></li>
            <li><a href="/inmobiliarias/activas/"> Activas</a></li>
            <li><a href="/inmobiliarias/registrar/"> Solicitar franquicia</a></li>
            <li><a href="/inmobiliarias/pendientes-alta/"> En espera de aprobación</a></li>
          </ul>
        </li>
        {% endif %}
        {% if request.user.groups.all.0.name == "usuario-inmobiliaria" %}
        <li><a><i class="fa fa-money"></i> Sección de pagos <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/payment/consultar/"> Consultar facturas por pagar</a></li>
            <li><a href="/payment/historico/"> Consultar facturas pagadas</a></li>
          </ul>
        </li>
        {% elif request.user.groups.all.0.name == "propietario" %}
        <li><a><i class="fa fa-line-chart"></i> Inmuebles <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/inmuebles/registrar/"> Registrar nuevo inmueble</a></li>
            <li><a> Listados <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a href="#"> Todos los activos</a></li>
                <li><a href="/inmuebles/lista/?estado=1"> Disponibles</a></li>
                <li><a href="/inmuebles/lista/?estado=2"> Ocupados</a></li>
                <li><a href="/inmuebles/lista/?estado=3"> No disponibles</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a><i class="fa fa-line-chart"></i> Reportes <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a> Recaudo <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a href="#"> Ver recaudo</a></li>
                <li><a href="/reportes/recaudos/estado-pagos/"> Estado actual de pagos</a></li>
                <li><a href="/reportes/recaudos/facturas-vencidas/"> Facturas en mora</a></li>
                <li><a href="/reportes/recaudos/facturas-activas/"> Facturas activas</a></li>
                <li><a href="/reportes/recaudos/seguimiento-inmuebles/"> Seguimiento de recaudo por inmueble</a></li>
              </ul>
            </li>
          </ul>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
  <div class="sidebar-footer hidden-small">
    <a data-toggle="tooltip" data-placement="top" title="Settings">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
      <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Lock">
      <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
  </div>
  <!-- /menu footer buttons -->
</div>
