{% extends "app/plain_page.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block contenido %}
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <tbody>
        <tr>
          <td><strong>Código</strong></td>
          <td>{{ object.codigo }}</td>
        </tr>
        <tr>
          <td><strong>Tipo de inmueble</strong></td>
          <td>{{ object.get_tipo_inmueble }}</td>
        </tr>
        <tr>
          <td><strong>Tipo de transacción</strong></td>
          <td>{{ object.get_tipo_transaccion }}</td>
        </tr>
        <tr>
          <td><strong>Moneda</strong></td>
          <td>{{ object.get_tipo_moneda }}</td>
        </tr>
        <tr>
          <td><strong>Valor</strong></td>
          <td>{{ object.valor  | floatformat:2 }}</td>
        </tr>
        <tr>
          <td><strong>Área</strong></td>
          <td>{{ object.area | floatformat:2}} m<sup>2</sup></td>
        </tr>
        <tr>
          <td><strong>Número de habitaciones</strong></td>
          <td>{{ object.numero_habitaciones }}</td>
        </tr>
        <tr>
          <td><strong>Número de baños</strong></td>
          <td>{{ object.numero_baños }}</td>
        </tr>
        <tr>
          <td><strong>¿Tiene garaje para propietarios?</strong></td>
          <td>{{ object.get_parqueadero }}</td>
        </tr>
        <tr>
          <td><strong>Tipo de parqueadero</strong></td>
          <td>{{ object.get_tipo_parqueadero }}</td>
        </tr>
        <tr>
          <td><strong>¿Tiene parqueadero para visitantes?</strong></td>
          <td>{{ object.get_parqueadero_visitantes }}</td>
        </tr>
        <tr>
          <td><strong>Dirección</strong></td>
          <td>{{ object.direccion }}</td>
        </tr>
        <tr>
          <td><strong>Barrio</strong></td>
          <td>{{ object.barrio }}</td>
        </tr>
        <tr>
          <td><strong>Estrato socioeconómico</strong></td>
          <td>{{ object.estrato }}</td>
        </tr>
        <tr>
          <td><strong>Descripción</strong></td>
          <td>{{ object.descripcion }}</td>
        </tr>
        <tr>
          <td><strong>Estado de operación</strong></td>
          <td>{{ object.get_estado_operacional }}</td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock contenido %}
