{% extends "app/plain_page.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block contenido %}
  {% if validlink %}
    <h3>Cambiar contraseña</h3>
    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% bootstrap_button "Cambiar contraseña" button_class="btn btn-primary" %}
    </form>
  {% else %}
    <p class="danger">
      El enlace proporcionado es inválido. Posiblemente ya haya sido utilizado.
      Por favor, solicite un nuevo restablecimiento de contraseña.
    </p>
  {% endif %}
{% endblock contenido %}
